<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}" type="text/css">

    <title>{% block title %}CoMarts{% endblock %}</title>
</head>

<body>
    <div class="base-container">
        <header class="base-header">
            <div class="header-left">
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div class="header-center">
                CoMarts
            </div>
            <div class="header-right">
                <a href="{% url 'ServiceRequestPage' %}">Post an Ad</a>
                <a href="#" onclick="toggleHeaderBackground()" class="settings"><i class="fa-solid fa-gear"></i></a>

            </div>
        </header>

        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </div>








</body>

<script src="https://kit.fontawesome.com/2021acc0df.js" crossorigin="anonymous"></script>

<script>
    function toggleHeaderBackground() {
        const header = document.querySelector('.settings');
        header.classList.toggle('hidden');
        console.log(header.classList);
    }

</script>
</html>
