{% load static %}

<head>
    <title>CoMarts: Login</title>
    <link rel="stylesheet" href="{% static 'main/css/loginAndSignup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- FontAwesome Icons -->

</head>

<body>
    
    <div class="base-container">
        <header class="base-header">
            <div class="header-center">
                CoMarts
            </div>
        </header>

        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </div>

<div class="form_wrapper">
    <div class="title_container">
        <h2>Login</h2>
    </div>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input_field">
            <span><i class="fas fa-user"></i></span>
            {{ form.username }}
        </div>
        <div class="input_field">
            <span><i class="fas fa-lock"></i></span>
            {{ form.password }}
        </div>
        <input type="submit" value="Login">
    </form>
</div>

</body>

