{% load static %}

<head>
    <title>Comarts: Register An Account</title>
    <link rel="stylesheet" href="{% static 'main/css/loginAndSignup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- FontAwesome Icons -->
</head>

<body>
    <div class="base-container">
        <header class="base-header">
            <div class="header-center">
                CoMarts
            </div>
        </header>

        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </div>

    <div class="form_wrapper">
        <div class="title_container">
            <h2>Sign Up</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="input_field">
                <span><i class="fas fa-user"></i></span>
                {{ form.username }}
            </div>
            <div class="input_field">
                <span><i class="fas fa-envelope"></i></span>
                {{ form.email }}
            </div>
            <div class="input_field">
                <span><i class="fas fa-lock"></i></span>
                {{ form.password1 }}
            </div>
            <div class="input_field">
                <span><i class="fas fa-lock"></i></span>
                {{ form.password2 }}
            </div>
            <div class="input_field select_option">
                {{ form.account_type }}
                <div class="select_arrow"></div>
            </div>
            <input type="submit" value="Sign Up">
        </form>
    </div>
    
    <script src='https://use.fontawesome.com/4ecc3dbb0b.js'></script>

</body>
